<div class="container mt-5 col-4">
    <label for="titulo" class="mt-5">Título</label>
    <input type="text" class="form-control" id="titulo">
    <label for="estado" class="mt-4">Estado</label>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    <div class="container">
        <div class="col-4">
            <button type="button" class="btn btn-primary">Actualizar</button>
        </div>
    </div>
</div>