<form [formGroup]="formulario" class="d-flex flex-flow justify-content-center " (ngSubmit)="validacion()" novalidate>
  <div class="container mt-5 col-4">
      <label for="titulo" class="mt-5">Título</label>
      <input type="text" class="form-control" formControlName="titulo" id="titulo">
      <label for="estado" class="mt-4">Estado</label>
      <div class="row">
          <div class="col-5">
            <li>
              <select id="estados" class="custom-select" formControlName="estado">
                <option selected value="0" class="text-muted">Estados...</option>
                <option class="text-dark" *ngFor="let estado of opciones">
                  {{estado}}
                </option>
              </select>
            </li>
          </div>
      </div>
      <div class="col" style="margin-top: 100px;">
          <button type="submit" (click)="mandarDatos()" [disabled]="!formulario.valid" type="button" class="btn btn-outline-dark col-md-8 offset-md-4">Actualizar</button>
      </div>
  </div>
</form>